# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Diamond Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-bcd %u"
GenericName[en_US]=electrum-bcd
GenericName=Emectrum-DIAMOND
Icon=electrum-diamond
Name[en_US]=Electrum Bitcoin Diamond Wallet
Name=Electrum Bitcoin Diamond Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin-diamond;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-bcd --testnet %u"
Name=Testnet mode
